<link rel="import" href="@routes.Assets.at("bower_components/polymer/polymer.html")">
<link rel="import" href="@routes.Application.polymer("pages.sharedStyles")">

<dom-module id="my-index">

    <template>
        <style include="shared-styles">
        :host {
            display: block;

            padding: 10px;
        }

        .content {
            height: 80%;
            float: left;
        }

        .paddingCenter {

            padding: 11px;
            text-align: center;
        }

        paper-button.green {
            background-color: var(--paper-green-500);
            color: white;
        }

        .heading {
            height: 100%;
            width: calc(100% - 70px);
            text-align: center;
            float: left;
            display: flex;
        }

        .imageDiv img {
            width: 60px;
            height: 100%;
            float: left;
        }

        .imageDiv {
            width: calc(100% - 40px);
            height: 60px;
            float: left;
        }

        .heading span {
            margin: auto;
        }

        #usersCard {
            width: 240px;
            margin-left: 3px;
        }

        .actions {
            float: left;
            width: 40px;
            height: 60px;
            display: flex;
        }

        .usersContainerDiv {
            height: 100%;
            margin: auto;
            overflow-y: auto;
            width: 95%;
        }
        </style>

            <!--my-socket id="socketIO" server="http://localhost:3000/"></my-socket>-->

        <paper-card class="content" style="width: 60%;
            margin-left: 5%;
            display: flex">
            <div class="usersContainerDiv">
                <h3>Users</h3>
                <template is="dom-repeat" items="{{users}}" as="user">
                    <paper-card id="usersCard">
                        <div class="imageDiv">
                            <img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTU4NmVkYzRmMDYgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTg2ZWRjNGYwNiI+PHJlY3Qgd2lkdGg9IjE3MSIgaGVpZ2h0PSIxODAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI2MSIgeT0iOTQuNSI+MTcxeDE4MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==">
                            <div class="heading"><span>{{ user }}</span></div>

                        </div>
                        <div class="actions">
                            <paper-icon-button id="{{ user }}" title="Start Game" on-click="_startGameOnClick" style="margin: auto" icon="icons:chevron-right"></paper-icon-button>
                        </div>
                    </paper-card>
                </template>
            </div>
        </paper-card>
        <div class="content" style="width: 25%">
            <div class="panel panel-primary" style=" height: 100%;
                border-radius: 0 4px 4px 0;
            ">
                <div class="panel-heading" id="accordion">
                    <i class="fa fa-commenting-o" aria-hidden="true"></i> Chat
                </div>
                <div class="panel-collapse" style="height: calc(100% - 103px);">
                    <div class="panel-body">
                        <ul class="chat">
                            <li class="left clearfix"><span class="chat-img pull-left">
                                <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                            </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">
                  User</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>date</small>
                                    </div>
                                    <p>
                  text
                                    </p>
                                </div>
                            </li>
                            <li class="right clearfix"><span class="chat-img pull-right">
                                <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                            </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>
                                            date</small>
                                        <strong class="pull-right primary-font">USER</strong>
                                    </div>
                                    <p>
                  text
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="btn-chat">
                Send</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <script>
    Polymer({
        is: 'my-index',
        listeners: {
            //"startGame.tap":"clickEvent"
        },
        properties: {
            users: {
                type: Array,
                value: ["hoha", "boba", "koka", "hoha", "boba", "koka",
                    "hoha", "boba", "koka", "hoha", "boba", "koka",
                    "hoha", "boba", "koka", "hoha", "boba", "koka",
                    "hoha", "boba", "koka", "hoha", "boba", "koka"]
            },
            username: {
                type: String,
                value: "Youidelh"
            }
        },
        ready: function () {
            /*socket.emit('setUsername', {
             username: this.username
             });*/
        },

        _startGameOnClick: function (event) {
            var id = event.srcElement.id;

            if (id === 'icon') id = event.srcElement.parentElement.id;

            console.log("Item id=", id);
        },
    });
  </script>
</dom-module>
