<md-toolbar color="primary">
    <span class="pageTitle">TicTacToe 3D</span>
    <div style="position: absolute;right: 10px;top: 14px;">
        <button style="background: none;" md-raised-button md-button (click)="redirect('b')">Bootstrap</button>
        <button style="background: none;" md-raised-button md-button (click)="redirect('p')">Polymer</button>
        <button md-raised-button md-button style="background-color: #2aabd2">Angular2js</button>
    </div>
</md-toolbar>
<router-outlet></router-outlet>