<div class="authContainer">
    <md-grid-list cols="4" rowHeight="100px" style="width: 90%;margin: auto;">
        <md-grid-tile colspan="2" rowspan="5">
            <md-card class="authComponent">
                <md-card-content>
                    <my-info></my-info>
                </md-card-content>
            </md-card>
        </md-grid-tile>
        <md-grid-tile colspan="2" rowspan="5" style="margin-left: 10px;background: #ddd">
            <md-card class="authComponent">
                <md-card-content class="authComponent">
                    <my-auth></my-auth>
                </md-card-content>
            </md-card>
        </md-grid-tile>
    </md-grid-list>
</div>