body {
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: #eeeeee;
}

.authContainer {
    height: calc(100% - 64px);
    width: 100%;
    display: flex;
}

.authComponent {
    width: 100%;
    height: 100%;
    padding: 0;
}
.tictactoeImage{
    background: url("/assets/images/tictactoe.jpg");
    background-size: 100% 100%;
}


/* chat */
.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.right .chat-body p {
    text-align: right;
}

.chat li.right .chat-body .header {
    text-align: right;
}

.chat li.left .chat-body p {
    text-align: left;
}

.chat li.left .chat-body .header {
    text-align: left;
}
/*
.chat li.left .chat-body {
    margin-left: 60px;
}
.chat li.right .chat-body p{
    margin-left: 70px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}*/

.chat li .chat-body p {
    margin-left: 60px;
    margin-right: 60px;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

.panel-body {
    overflow-y: scroll;
    height: 100%;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

canvas {
    width: 100%;
    height: 100%;
    /*
        max-height: 100vh;
        max-width: 100vh;*/
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
}
/* users */
.example-header-image {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTU4NmVkYzRmMDYgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTg2ZWRjNGYwNiI+PHJlY3Qgd2lkdGg9IjE3MSIgaGVpZ2h0PSIxODAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI2MSIgeT0iOTQuNSI+MTcxeDE4MDwvdGV4dD48L2c+PC9nPjwvc3ZnPg==');
    background-size: cover;
}

.userCard {
    /*
    width: 245px;
    height: 41px;*/
    padding: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 0;
    margin-left: 8px;
    float: left;
    margin-bottom: 8px;
}

.userCard .header {
    float: left;
    width: 155px;
    margin: 0;
}

.userCard .title {
    margin-top: 12px;
}

.userCard .actionButton {
    float: right;
    margin: 0;
    padding: 0;
}
/* auth */
.inputContainer {
    display: block;
    height: 45px;
}

/deep/ md-tab-group .md-tab-header {
           background-color: #03A9F4;
       }

/deep/ md-tab-group .md-tab-label {
           width: 50%;
       }

/deep/ md-tab-group .md-tab-body-wrapper {
           padding: 40px;
           height: 75%;
       }

       /* info */
.infoContainer {
    width: 100%;
    height: 100%;
    text-align: center;
}

.infoContainer {
    font-size: 17px;
    font-family: 'Roboto', 'Noto', sans-serif;
    line-height: 1.5;
}
/* aop */
.provider {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    margin-right: 15px;
}
.provider img{
    width: 40px;
    height: 40px;
}/*
.google {
    background: #D14836;
    background: url("/assets/images/providers/google.png");
    background-size: 100% 100%;
}*/

.facebook {
    background: #3B5998;
    background: url("https://www.facebook.com/images/fb_icon_325x325.png");
    background-size: 100% 100%;
}

.github {
    background: black;
    background: url("http://image.flaticon.com/icons/png/512/25/25231.png");
    background-size: 100% 100%;
}
.logoutButton{
    position: absolute;
    bottom: 5px;
    right: 5px;
    border-radius: 4px;
    outline: none;
}