html, body {
    height: 100%;
    width: 100%;
}

body {
    background: url("/assets/images/background.jpg");
    background-size: 100% 100%;
}

.title {
    height: 10%;
    display: flex;
}

.titleDiv {
    margin: auto;
    height: 80%;
}

.titleHeader {
    height: 100%;
    margin: 0;
    padding: 0;
    margin: auto;
    margin-top: 9px;
}

.indexWrapper {
    margin: 0;
    height: 90%;
    width: 100%;
    display: flex;
}

.indexWrapper div {
    margin: auto;
}

.indexWrapper .cardList {
    padding: 0;
}

.game_description {
    font-size: 20px;
    text-align: center;
}

.loginForm {
    padding-left: 0;
    padding-right: 0;
}

.cardList {
    background: #FFF none repeat scroll 0% 0%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
    padding: 30px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.loginmodal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.loginmodal-container input[type=button] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.btn-group {
    width: 100%;
}

.form-group label {
    font-size: 20px;
    font-family: roboto;
    font-weight: normal;
}

.loginmodal-container input[type=text], input[type=password], input[type=email] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 10px;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    /* border-radius: 2px; */
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
    /* border-radius: 3px; */
    /* -webkit-user-select: none;
      user-select: none; */
}

.loginmodal-submit {
    /* border: 1px solid #3079ed; */
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
    /* border: 1px solid #2f5bb7; */
    border: 0px;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
    /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
    text-decoration: none;
    color: #1600ff;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.loginmodal-container a:hover {
    color: #74709f;
}

.login-help {
    font-size: 12px;
}

/* index page */
.mainRow {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
}

.mainRow .mainPart {
    margin: auto;
    height: 75%;
}

.mainPart .allUsers, .mainPart .groupChatBar {
    float: left;
    height: 100%;
}

.mainPart .allUsers {
    border-radius: 4px 0 0 4px;
}

.mainPart .groupChatBar {
    margin: 0;
    padding: 0;
}

.users {
    float: left;
    height: 70px;
    margin-right: 5px;
    position: relative;
    width: calc(98% / 3);
    background-color: #b0d7d9;
}

.caption button {
    border: none;
    background: none;
}

.users div {
    height: 100%;
    float: left;
}

.users .userPic {
    width: 70px;
    display: flex;
}

.userPic img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: auto;
}

.users .caption {
    width: calc(100% - 70px);
}

/* chat */
.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon {
    margin-right: 5px;
}

.panel-body {
    overflow-y: scroll;
    height: 100%;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
}

canvas {
    width: 100%;
    height: 100%;
    /*
        max-height: 100vh;
        max-width: 100vh;*/
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
}